[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/themes/bigspring-light"]
	path = themes/themes/bigspring-light
	url = git@github.com:themefisher/bigspring-light.git
